<h2>Update Your Profile</h2>

<%= form_for current_user do |f| %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :latitude %>
        <%= f.number_field :latitude, :step => 'any' %>
    </p>

    <p>
        <%= f.label :longitude %>
        <%= f.number_field :longitude, :step => 'any' %>
    </p>

    <p>
        <%= f.select :role, [['Parent', 0],['Service Provider', 1],['Other',2]] %><br />
    </p>

    <%= f.submit "Submit these changes!" %>

<% end %>

<p><%= link_to "Back to root!", root_path %></p>
