<h2>Profile for <%= current_user.email %></h2>

<p>Name:  <%= current_user.name ||= "none specified" %></p>
<p>Latitude:  <%= current_user.latitude ||= "none specified" %></p>
<p>Longitude:  <%= current_user.longitude ||= "none specified" %></p>

<%= link_to "Back to root!", root_path %><br>
<%= link_to "Update profile.", edit_user_path %>
