<h2>Profile for <%= @user.email %></h2>

<table>
    <tr>
        <th>First Name:</th><td><%= @user.first_name ||= "none specified" %></td>
    </tr>
    <tr>
        <th>Address:</th><td><%= @user.address ||= "none specified" %></td>
    </tr>



<!-- USE GEOCODER TO GET LATITUDE & LONGITUDE -->
<!-- <p>Latitude:  <%= current_user.latitude ||= "none specified" %></p>
<p>Longitude:  <%= current_user.longitude ||= "none specified" %></p>
 -->
<!-- USE GEOCODER TO GET LATITUDE & LONGITUDE -->



    <tr>
        <th>Mode:</th><td><%=  if @user.role == 0
                        "Parent"
                    elsif @user.role == 1
                        "Service Provider"
                    else
                        "Other"
                    end %></td>
    </tr>
</table>

<div class="nav_footer">
    <div class="nav_left"><%= link_to "Home", root_path %></div>
    <% if @user.id == current_user.id %>
        <div class="nav_right"><%= link_to "Update profile", edit_user_path %></div>
    <% else %>
        <div class="nav_right"><%= link_to "Member Search", users_path %></div>
    <% end %>
</div>
