<!DOCTYPE html>
<html>
<head>
  <title>Child Services Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if user_signed_in? %>
        <h1>Child Services Network</h1>
    <% else %>
        <h1>Welcome to the Child Services Network</h1>
    <% end %>

    <%= yield %>

    <div id="upinout">
        <br><br>
        <p class="notice"><%= notice %></p><br>
        <p class="alert"><%= alert %></p>
        <% if user_signed_in? %>
            Signed in as <%= current_user.email %>.<br><br>
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
        <% else %>
            <%= link_to 'Register', new_user_registration_path %>   - or -   <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
    </div>

</body>
</html>
