<!DOCTYPE html>
<html>
<head>
  <title>Child Services Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if user_signed_in? %>
        <h1>Child Services Network</h1>
    <% else %>
        <h1>Welcome to the Child Services Network</h1>
    <% end %>

    <div id="user_view">
        <%= yield %>
    </div>

    <div id="notices">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <p><% if user_signed_in? %>
            Signed in as <%= current_user.email %>.<br><br>
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
        <% end %>
    </div>

</body>
</html>
